<nav>
			<ul class="nav {{include.navclass}}">
				<li><a href="{{site.baseurl}}/" {% if page.url == '/index.html' %}class="current"{% endif %}">Home</a></li>
				<li><a href="{{site.baseurl}}/latestlist" {% if page.url == '/latestlist/' %} class="current" {% endif %}>Latest News</a></li>
				<li><a href="{{site.baseurl}}/about" {% if page.url == '/about/' %} class="current" {% endif %}>About Us</a></li>
				<li><a href="{{site.baseurl}}/mission" {% if page.url == '/mission/' %} class="current" {% endif %}>Our Mission</a></li>
				
				<li><a href="{{site.baseurl}}/pitchinpages/" {% if page.url == '/pitchinpages/' %} class="current" {% endif %}>Pitch In, Bitches!</a></li>
				
			</ul>
		</nav>