<nav>
			<ul class="nav {{include.navclass}}">
				<li><a href="{{site.baseurl}}/" {% if page.url == '/index.html' %}class="current"{% endif %}">Home</a></li>
				<li><a href="{{site.baseurl}}/mission" {% if page.url == '/mission/' %} class="current" {% endif %}>Our Mission</a></li>
				<li><a href="{{site.baseurl}}/about" {% if page.url == '/about/' %} class="current" {% endif %}>About Us</a></li>
				<li><a href="{{site.baseurl}}/pitchin" {% if page.url == '/pitchin/' %} class="current" {% endif %}>Pitch In, Bitches!</a></li>
				<li><a href="{{site.baseurl}}/latest" {% if page.url == '/latest/' %} class="current" {% endif %}>Latest News</a></li>
			</ul>
		</nav>