<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta chartset="utf-8">
	<title>{{page.title}}</title>
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
</head>
<body class="{{page.bodyClass}}>
	
	<header>
		<h1></h1>
		{% include nav.html navclass='nav-top' %}
	</header>

	<main>
		
		{{content}}
	</main>

	<footer>
		{% include nav.html navclass='nav-bottom' %}
		<p>&copy; All Sorts Media, 2016. All Sorts Media is a brand copyrighted by the Older Women Coders Organization. Any similarity to existing web sites is purely coincidence.</p>
	</footer>

</body>
</html>