---
layout: default
---

<h2>All Sorts News Columns</h2>

<nav>
	<ul>
		<li><a href="{{site.baseurl}}/work-life-newslist.html" {% if page.url == '/work-life-newslist.html' %} class="current" {% endif %}>Work/Life Balance</a>			
		</li>
		<li><a href="{{site.baseurl}}/stem-careers-newslist.html" {% if page.url == '/stem-careers-newslist.html' %} class="current" {% endif %}>STEM Careers</a>	
		</li>
		<li><a href="{{site.baseurl}}/women-newslist.html"  {% if page.url == '/women-newslist.html' %} class="current" {% endif %}>Women Leading</a>	
		</li>
		<li><a href="{{site.baseurl}}/retirement-newslist.html"  {% if page.url == '/retirement-newslist.html' %} class="current" {% endif %}>Retirement</a>	
		</li>
		<li><a href="{{site.baseurl}}/aging-newslist.html"  {% if page.url == '/aging-newslist.html' %} class="current" {% endif %}>Aging: Active, Stages, Planning</a>	
		</li>
		<li><a href="{{site.baseurl}}/ao-tech-newslist.html" {% if page.url == '/ao-tech-newslist.html' %} class="current" {% endif %}>Aging Out</a>	
		</li>
		<li><a href="{{site.baseurl}}/emo-Q-newslist.html" {% if page.url == '/emo-Q-newslist.html' %} class="current" {% endif %}>Emotional Intelligence</a>	
		</li>
	</ul>
</nav>

{{content}}